.title{
    text-align: center;
    font-size: 50px;
    color: darkred;
    font-style: italic;
    margin-top: 60px;
}

.row{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.row1{
    border-radius: 10px;
    border: 3px solid black;
    padding: 20px;
    width: 200px;
    height: 100px;
    display: inline-flex;
    margin: 100px;
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#first{


}


