.title{
    text-align: center;
    font-size: 200px;
    color: darkred;
    font-style: italic;
    margin-top: 60px;
}

.row1{
    border-radius: 25px;
    border: 8px solid black;
    padding: 20px;
    width: 1000px;
    height: 600px;
    display: inline-flex;
    margin-top: 400px;
    margin-left: 450px;
    align-content: space-between;
}

#first{


}


